<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.mybatis.mapper.AccommdationMapper">
  <resultMap id="BaseResultMap" type="com.cookie.mybatis.model.Accommdation">
    <id column="accommodation_id" jdbcType="VARCHAR" property="accommodationId" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
    <result column="hotel_address" jdbcType="VARCHAR" property="hotelAddress" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="subdistrict" jdbcType="VARCHAR" property="subdistrict" />
    <result column="zipcode" jdbcType="VARCHAR" property="zipcode" />
    <result column="refer_person_name" jdbcType="VARCHAR" property="referPersonName" />
    <result column="refer_person_address" jdbcType="VARCHAR" property="referPersonAddress" />
    <result column="accommodation_image_url" jdbcType="VARCHAR" property="accommodationImageUrl" />
    <result column="deleted_flag" jdbcType="VARCHAR" property="deletedFlag" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    accommodation_id, order_id, hotel_name, hotel_address, city, district, subdistrict, 
    zipcode, refer_person_name, refer_person_address, accommodation_image_url, deleted_flag, 
    created_at, updated_at, deleted_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_accommodation
    where accommodation_id = #{accommodationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_accommodation
    where accommodation_id = #{accommodationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cookie.mybatis.model.Accommdation">
    insert into oms_accommodation (accommodation_id, order_id, hotel_name, 
      hotel_address, city, district, 
      subdistrict, zipcode, refer_person_name, 
      refer_person_address, accommodation_image_url, 
      deleted_flag, created_at, updated_at, 
      deleted_at)
    values (#{accommodationId,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, #{hotelName,jdbcType=VARCHAR}, 
      #{hotelAddress,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{subdistrict,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{referPersonName,jdbcType=VARCHAR}, 
      #{referPersonAddress,jdbcType=VARCHAR}, #{accommodationImageUrl,jdbcType=VARCHAR}, 
      #{deletedFlag,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cookie.mybatis.model.Accommdation">
    insert into oms_accommodation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accommodationId != null">
        accommodation_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="hotelName != null">
        hotel_name,
      </if>
      <if test="hotelAddress != null">
        hotel_address,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="subdistrict != null">
        subdistrict,
      </if>
      <if test="zipcode != null">
        zipcode,
      </if>
      <if test="referPersonName != null">
        refer_person_name,
      </if>
      <if test="referPersonAddress != null">
        refer_person_address,
      </if>
      <if test="accommodationImageUrl != null">
        accommodation_image_url,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accommodationId != null">
        #{accommodationId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="hotelName != null">
        #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddress != null">
        #{hotelAddress,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="subdistrict != null">
        #{subdistrict,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="referPersonName != null">
        #{referPersonName,jdbcType=VARCHAR},
      </if>
      <if test="referPersonAddress != null">
        #{referPersonAddress,jdbcType=VARCHAR},
      </if>
      <if test="accommodationImageUrl != null">
        #{accommodationImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cookie.mybatis.model.Accommdation">
    update oms_accommodation
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="hotelName != null">
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddress != null">
        hotel_address = #{hotelAddress,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="subdistrict != null">
        subdistrict = #{subdistrict,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        zipcode = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="referPersonName != null">
        refer_person_name = #{referPersonName,jdbcType=VARCHAR},
      </if>
      <if test="referPersonAddress != null">
        refer_person_address = #{referPersonAddress,jdbcType=VARCHAR},
      </if>
      <if test="accommodationImageUrl != null">
        accommodation_image_url = #{accommodationImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where accommodation_id = #{accommodationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cookie.mybatis.model.Accommdation">
    update oms_accommodation
    set order_id = #{orderId,jdbcType=CHAR},
      hotel_name = #{hotelName,jdbcType=VARCHAR},
      hotel_address = #{hotelAddress,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      subdistrict = #{subdistrict,jdbcType=VARCHAR},
      zipcode = #{zipcode,jdbcType=VARCHAR},
      refer_person_name = #{referPersonName,jdbcType=VARCHAR},
      refer_person_address = #{referPersonAddress,jdbcType=VARCHAR},
      accommodation_image_url = #{accommodationImageUrl,jdbcType=VARCHAR},
      deleted_flag = #{deletedFlag,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where accommodation_id = #{accommodationId,jdbcType=VARCHAR}
  </update>
</mapper>