<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.mybatis.mapper.SuborderMapper">
  <resultMap id="BaseResultMap" type="com.cookie.mybatis.model.Suborder">
    <id column="suborder_id" jdbcType="VARCHAR" property="suborderId" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="visa_status" jdbcType="VARCHAR" property="visaStatus" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="middle_name" jdbcType="VARCHAR" property="middleName" />
    <result column="annual_income" jdbcType="VARCHAR" property="annualIncome" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="purpose_visit" jdbcType="VARCHAR" property="purposeVisit" />
    <result column="residence_address" jdbcType="VARCHAR" property="residenceAddress" />
    <result column="traveldoc_number" jdbcType="VARCHAR" property="traveldocNumber" />
    <result column="country_of_birth" jdbcType="VARCHAR" property="countryOfBirth" />
    <result column="date_of_birth" jdbcType="DATE" property="dateOfBirth" />
    <result column="firstname_in_passport" jdbcType="VARCHAR" property="firstnameInPassport" />
    <result column="lastname_in_passport" jdbcType="VARCHAR" property="lastnameInPassport" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="traveldoc_issue_date" jdbcType="DATE" property="traveldocIssueDate" />
    <result column="traveldoc_expiry_date" jdbcType="DATE" property="traveldocExpiryDate" />
    <result column="traveldoc_issue_country" jdbcType="VARCHAR" property="traveldocIssueCountry" />
    <result column="traveldoc_issue_place" jdbcType="VARCHAR" property="traveldocIssuePlace" />
    <result column="traveldoc_birth_place" jdbcType="VARCHAR" property="traveldocBirthPlace" />
    <result column="traveldoc_image_url" jdbcType="VARCHAR" property="traveldocImageUrl" />
    <result column="traveldoc_cover_image_url" jdbcType="VARCHAR" property="traveldocCoverImageUrl" />
    <result column="user_photo_image_url" jdbcType="VARCHAR" property="userPhotoImageUrl" />
    <result column="deleted_flag" jdbcType="CHAR" property="deletedFlag" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    suborder_id, order_id, visa_status, contact_number, email, first_name, last_name, 
    title, middle_name, annual_income, occupation, purpose_visit, residence_address, 
    traveldoc_number, country_of_birth, date_of_birth, firstname_in_passport, lastname_in_passport, 
    gender, nationality, traveldoc_issue_date, traveldoc_expiry_date, traveldoc_issue_country, 
    traveldoc_issue_place, traveldoc_birth_place, traveldoc_image_url, traveldoc_cover_image_url, 
    user_photo_image_url, deleted_flag, created_at, updated_at, deleted_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_suborder
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_suborder
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cookie.mybatis.model.Suborder">
    insert into oms_suborder (suborder_id, order_id, visa_status, 
      contact_number, email, first_name, 
      last_name, title, middle_name, 
      annual_income, occupation, purpose_visit, 
      residence_address, traveldoc_number, country_of_birth, 
      date_of_birth, firstname_in_passport, lastname_in_passport, 
      gender, nationality, traveldoc_issue_date, 
      traveldoc_expiry_date, traveldoc_issue_country, 
      traveldoc_issue_place, traveldoc_birth_place, 
      traveldoc_image_url, traveldoc_cover_image_url, 
      user_photo_image_url, deleted_flag, created_at, 
      updated_at, deleted_at)
    values (#{suborderId,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, #{visaStatus,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{middleName,jdbcType=VARCHAR}, 
      #{annualIncome,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{purposeVisit,jdbcType=VARCHAR}, 
      #{residenceAddress,jdbcType=VARCHAR}, #{traveldocNumber,jdbcType=VARCHAR}, #{countryOfBirth,jdbcType=VARCHAR}, 
      #{dateOfBirth,jdbcType=DATE}, #{firstnameInPassport,jdbcType=VARCHAR}, #{lastnameInPassport,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, #{traveldocIssueDate,jdbcType=DATE}, 
      #{traveldocExpiryDate,jdbcType=DATE}, #{traveldocIssueCountry,jdbcType=VARCHAR}, 
      #{traveldocIssuePlace,jdbcType=VARCHAR}, #{traveldocBirthPlace,jdbcType=VARCHAR}, 
      #{traveldocImageUrl,jdbcType=VARCHAR}, #{traveldocCoverImageUrl,jdbcType=VARCHAR}, 
      #{userPhotoImageUrl,jdbcType=VARCHAR}, #{deletedFlag,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cookie.mybatis.model.Suborder">
    insert into oms_suborder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="suborderId != null">
        suborder_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="visaStatus != null">
        visa_status,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="middleName != null">
        middle_name,
      </if>
      <if test="annualIncome != null">
        annual_income,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="purposeVisit != null">
        purpose_visit,
      </if>
      <if test="residenceAddress != null">
        residence_address,
      </if>
      <if test="traveldocNumber != null">
        traveldoc_number,
      </if>
      <if test="countryOfBirth != null">
        country_of_birth,
      </if>
      <if test="dateOfBirth != null">
        date_of_birth,
      </if>
      <if test="firstnameInPassport != null">
        firstname_in_passport,
      </if>
      <if test="lastnameInPassport != null">
        lastname_in_passport,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="traveldocIssueDate != null">
        traveldoc_issue_date,
      </if>
      <if test="traveldocExpiryDate != null">
        traveldoc_expiry_date,
      </if>
      <if test="traveldocIssueCountry != null">
        traveldoc_issue_country,
      </if>
      <if test="traveldocIssuePlace != null">
        traveldoc_issue_place,
      </if>
      <if test="traveldocBirthPlace != null">
        traveldoc_birth_place,
      </if>
      <if test="traveldocImageUrl != null">
        traveldoc_image_url,
      </if>
      <if test="traveldocCoverImageUrl != null">
        traveldoc_cover_image_url,
      </if>
      <if test="userPhotoImageUrl != null">
        user_photo_image_url,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="suborderId != null">
        #{suborderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="visaStatus != null">
        #{visaStatus,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="middleName != null">
        #{middleName,jdbcType=VARCHAR},
      </if>
      <if test="annualIncome != null">
        #{annualIncome,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="purposeVisit != null">
        #{purposeVisit,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="traveldocNumber != null">
        #{traveldocNumber,jdbcType=VARCHAR},
      </if>
      <if test="countryOfBirth != null">
        #{countryOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        #{dateOfBirth,jdbcType=DATE},
      </if>
      <if test="firstnameInPassport != null">
        #{firstnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="lastnameInPassport != null">
        #{lastnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssueDate != null">
        #{traveldocIssueDate,jdbcType=DATE},
      </if>
      <if test="traveldocExpiryDate != null">
        #{traveldocExpiryDate,jdbcType=DATE},
      </if>
      <if test="traveldocIssueCountry != null">
        #{traveldocIssueCountry,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssuePlace != null">
        #{traveldocIssuePlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocBirthPlace != null">
        #{traveldocBirthPlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocImageUrl != null">
        #{traveldocImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="traveldocCoverImageUrl != null">
        #{traveldocCoverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="userPhotoImageUrl != null">
        #{userPhotoImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cookie.mybatis.model.Suborder">
    update oms_suborder
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="visaStatus != null">
        visa_status = #{visaStatus,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="middleName != null">
        middle_name = #{middleName,jdbcType=VARCHAR},
      </if>
      <if test="annualIncome != null">
        annual_income = #{annualIncome,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="purposeVisit != null">
        purpose_visit = #{purposeVisit,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        residence_address = #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="traveldocNumber != null">
        traveldoc_number = #{traveldocNumber,jdbcType=VARCHAR},
      </if>
      <if test="countryOfBirth != null">
        country_of_birth = #{countryOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        date_of_birth = #{dateOfBirth,jdbcType=DATE},
      </if>
      <if test="firstnameInPassport != null">
        firstname_in_passport = #{firstnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="lastnameInPassport != null">
        lastname_in_passport = #{lastnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssueDate != null">
        traveldoc_issue_date = #{traveldocIssueDate,jdbcType=DATE},
      </if>
      <if test="traveldocExpiryDate != null">
        traveldoc_expiry_date = #{traveldocExpiryDate,jdbcType=DATE},
      </if>
      <if test="traveldocIssueCountry != null">
        traveldoc_issue_country = #{traveldocIssueCountry,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssuePlace != null">
        traveldoc_issue_place = #{traveldocIssuePlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocBirthPlace != null">
        traveldoc_birth_place = #{traveldocBirthPlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocImageUrl != null">
        traveldoc_image_url = #{traveldocImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="traveldocCoverImageUrl != null">
        traveldoc_cover_image_url = #{traveldocCoverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="userPhotoImageUrl != null">
        user_photo_image_url = #{userPhotoImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cookie.mybatis.model.Suborder">
    update oms_suborder
    set order_id = #{orderId,jdbcType=CHAR},
      visa_status = #{visaStatus,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      middle_name = #{middleName,jdbcType=VARCHAR},
      annual_income = #{annualIncome,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      purpose_visit = #{purposeVisit,jdbcType=VARCHAR},
      residence_address = #{residenceAddress,jdbcType=VARCHAR},
      traveldoc_number = #{traveldocNumber,jdbcType=VARCHAR},
      country_of_birth = #{countryOfBirth,jdbcType=VARCHAR},
      date_of_birth = #{dateOfBirth,jdbcType=DATE},
      firstname_in_passport = #{firstnameInPassport,jdbcType=VARCHAR},
      lastname_in_passport = #{lastnameInPassport,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      nationality = #{nationality,jdbcType=VARCHAR},
      traveldoc_issue_date = #{traveldocIssueDate,jdbcType=DATE},
      traveldoc_expiry_date = #{traveldocExpiryDate,jdbcType=DATE},
      traveldoc_issue_country = #{traveldocIssueCountry,jdbcType=VARCHAR},
      traveldoc_issue_place = #{traveldocIssuePlace,jdbcType=VARCHAR},
      traveldoc_birth_place = #{traveldocBirthPlace,jdbcType=VARCHAR},
      traveldoc_image_url = #{traveldocImageUrl,jdbcType=VARCHAR},
      traveldoc_cover_image_url = #{traveldocCoverImageUrl,jdbcType=VARCHAR},
      user_photo_image_url = #{userPhotoImageUrl,jdbcType=VARCHAR},
      deleted_flag = #{deletedFlag,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cookie.mybatis.model.Suborder">
    <id column="suborder_id" jdbcType="VARCHAR" property="suborderId" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="visa_status" jdbcType="VARCHAR" property="visaStatus" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="middle_name" jdbcType="VARCHAR" property="middleName" />
    <result column="annual_income" jdbcType="VARCHAR" property="annualIncome" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="purpose_visit" jdbcType="VARCHAR" property="purposeVisit" />
    <result column="residence_address" jdbcType="VARCHAR" property="residenceAddress" />
    <result column="traveldoc_number" jdbcType="VARCHAR" property="traveldocNumber" />
    <result column="country_of_birth" jdbcType="VARCHAR" property="countryOfBirth" />
    <result column="date_of_birth" jdbcType="DATE" property="dateOfBirth" />
    <result column="firstname_in_passport" jdbcType="VARCHAR" property="firstnameInPassport" />
    <result column="lastname_in_passport" jdbcType="VARCHAR" property="lastnameInPassport" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="traveldoc_issue_date" jdbcType="DATE" property="traveldocIssueDate" />
    <result column="traveldoc_expiry_date" jdbcType="DATE" property="traveldocExpiryDate" />
    <result column="traveldoc_issue_country" jdbcType="VARCHAR" property="traveldocIssueCountry" />
    <result column="traveldoc_issue_place" jdbcType="VARCHAR" property="traveldocIssuePlace" />
    <result column="traveldoc_birth_place" jdbcType="VARCHAR" property="traveldocBirthPlace" />
    <result column="traveldoc_image_url" jdbcType="VARCHAR" property="traveldocImageUrl" />
    <result column="traveldoc_cover_image_url" jdbcType="VARCHAR" property="traveldocCoverImageUrl" />
    <result column="user_photo_image_url" jdbcType="VARCHAR" property="userPhotoImageUrl" />
    <result column="deleted_flag" jdbcType="CHAR" property="deletedFlag" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    suborder_id, order_id, visa_status, contact_number, email, first_name, last_name, 
    title, middle_name, annual_income, occupation, purpose_visit, residence_address, 
    traveldoc_number, country_of_birth, date_of_birth, firstname_in_passport, lastname_in_passport, 
    gender, nationality, traveldoc_issue_date, traveldoc_expiry_date, traveldoc_issue_country, 
    traveldoc_issue_place, traveldoc_birth_place, traveldoc_image_url, traveldoc_cover_image_url, 
    user_photo_image_url, deleted_flag, created_at, updated_at, deleted_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_suborder
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_suborder
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cookie.mybatis.model.Suborder">
    insert into oms_suborder (suborder_id, order_id, visa_status, 
      contact_number, email, first_name, 
      last_name, title, middle_name, 
      annual_income, occupation, purpose_visit, 
      residence_address, traveldoc_number, country_of_birth, 
      date_of_birth, firstname_in_passport, lastname_in_passport, 
      gender, nationality, traveldoc_issue_date, 
      traveldoc_expiry_date, traveldoc_issue_country, 
      traveldoc_issue_place, traveldoc_birth_place, 
      traveldoc_image_url, traveldoc_cover_image_url, 
      user_photo_image_url, deleted_flag, created_at, 
      updated_at, deleted_at)
    values (#{suborderId,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, #{visaStatus,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{middleName,jdbcType=VARCHAR}, 
      #{annualIncome,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{purposeVisit,jdbcType=VARCHAR}, 
      #{residenceAddress,jdbcType=VARCHAR}, #{traveldocNumber,jdbcType=VARCHAR}, #{countryOfBirth,jdbcType=VARCHAR}, 
      #{dateOfBirth,jdbcType=DATE}, #{firstnameInPassport,jdbcType=VARCHAR}, #{lastnameInPassport,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, #{traveldocIssueDate,jdbcType=DATE}, 
      #{traveldocExpiryDate,jdbcType=DATE}, #{traveldocIssueCountry,jdbcType=VARCHAR}, 
      #{traveldocIssuePlace,jdbcType=VARCHAR}, #{traveldocBirthPlace,jdbcType=VARCHAR}, 
      #{traveldocImageUrl,jdbcType=VARCHAR}, #{traveldocCoverImageUrl,jdbcType=VARCHAR}, 
      #{userPhotoImageUrl,jdbcType=VARCHAR}, #{deletedFlag,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cookie.mybatis.model.Suborder">
    insert into oms_suborder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="suborderId != null">
        suborder_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="visaStatus != null">
        visa_status,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="middleName != null">
        middle_name,
      </if>
      <if test="annualIncome != null">
        annual_income,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="purposeVisit != null">
        purpose_visit,
      </if>
      <if test="residenceAddress != null">
        residence_address,
      </if>
      <if test="traveldocNumber != null">
        traveldoc_number,
      </if>
      <if test="countryOfBirth != null">
        country_of_birth,
      </if>
      <if test="dateOfBirth != null">
        date_of_birth,
      </if>
      <if test="firstnameInPassport != null">
        firstname_in_passport,
      </if>
      <if test="lastnameInPassport != null">
        lastname_in_passport,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="traveldocIssueDate != null">
        traveldoc_issue_date,
      </if>
      <if test="traveldocExpiryDate != null">
        traveldoc_expiry_date,
      </if>
      <if test="traveldocIssueCountry != null">
        traveldoc_issue_country,
      </if>
      <if test="traveldocIssuePlace != null">
        traveldoc_issue_place,
      </if>
      <if test="traveldocBirthPlace != null">
        traveldoc_birth_place,
      </if>
      <if test="traveldocImageUrl != null">
        traveldoc_image_url,
      </if>
      <if test="traveldocCoverImageUrl != null">
        traveldoc_cover_image_url,
      </if>
      <if test="userPhotoImageUrl != null">
        user_photo_image_url,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="suborderId != null">
        #{suborderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="visaStatus != null">
        #{visaStatus,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="middleName != null">
        #{middleName,jdbcType=VARCHAR},
      </if>
      <if test="annualIncome != null">
        #{annualIncome,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="purposeVisit != null">
        #{purposeVisit,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="traveldocNumber != null">
        #{traveldocNumber,jdbcType=VARCHAR},
      </if>
      <if test="countryOfBirth != null">
        #{countryOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        #{dateOfBirth,jdbcType=DATE},
      </if>
      <if test="firstnameInPassport != null">
        #{firstnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="lastnameInPassport != null">
        #{lastnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssueDate != null">
        #{traveldocIssueDate,jdbcType=DATE},
      </if>
      <if test="traveldocExpiryDate != null">
        #{traveldocExpiryDate,jdbcType=DATE},
      </if>
      <if test="traveldocIssueCountry != null">
        #{traveldocIssueCountry,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssuePlace != null">
        #{traveldocIssuePlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocBirthPlace != null">
        #{traveldocBirthPlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocImageUrl != null">
        #{traveldocImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="traveldocCoverImageUrl != null">
        #{traveldocCoverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="userPhotoImageUrl != null">
        #{userPhotoImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cookie.mybatis.model.Suborder">
    update oms_suborder
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="visaStatus != null">
        visa_status = #{visaStatus,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="middleName != null">
        middle_name = #{middleName,jdbcType=VARCHAR},
      </if>
      <if test="annualIncome != null">
        annual_income = #{annualIncome,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="purposeVisit != null">
        purpose_visit = #{purposeVisit,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        residence_address = #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="traveldocNumber != null">
        traveldoc_number = #{traveldocNumber,jdbcType=VARCHAR},
      </if>
      <if test="countryOfBirth != null">
        country_of_birth = #{countryOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        date_of_birth = #{dateOfBirth,jdbcType=DATE},
      </if>
      <if test="firstnameInPassport != null">
        firstname_in_passport = #{firstnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="lastnameInPassport != null">
        lastname_in_passport = #{lastnameInPassport,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssueDate != null">
        traveldoc_issue_date = #{traveldocIssueDate,jdbcType=DATE},
      </if>
      <if test="traveldocExpiryDate != null">
        traveldoc_expiry_date = #{traveldocExpiryDate,jdbcType=DATE},
      </if>
      <if test="traveldocIssueCountry != null">
        traveldoc_issue_country = #{traveldocIssueCountry,jdbcType=VARCHAR},
      </if>
      <if test="traveldocIssuePlace != null">
        traveldoc_issue_place = #{traveldocIssuePlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocBirthPlace != null">
        traveldoc_birth_place = #{traveldocBirthPlace,jdbcType=VARCHAR},
      </if>
      <if test="traveldocImageUrl != null">
        traveldoc_image_url = #{traveldocImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="traveldocCoverImageUrl != null">
        traveldoc_cover_image_url = #{traveldocCoverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="userPhotoImageUrl != null">
        user_photo_image_url = #{userPhotoImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cookie.mybatis.model.Suborder">
    update oms_suborder
    set order_id = #{orderId,jdbcType=CHAR},
      visa_status = #{visaStatus,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      middle_name = #{middleName,jdbcType=VARCHAR},
      annual_income = #{annualIncome,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      purpose_visit = #{purposeVisit,jdbcType=VARCHAR},
      residence_address = #{residenceAddress,jdbcType=VARCHAR},
      traveldoc_number = #{traveldocNumber,jdbcType=VARCHAR},
      country_of_birth = #{countryOfBirth,jdbcType=VARCHAR},
      date_of_birth = #{dateOfBirth,jdbcType=DATE},
      firstname_in_passport = #{firstnameInPassport,jdbcType=VARCHAR},
      lastname_in_passport = #{lastnameInPassport,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      nationality = #{nationality,jdbcType=VARCHAR},
      traveldoc_issue_date = #{traveldocIssueDate,jdbcType=DATE},
      traveldoc_expiry_date = #{traveldocExpiryDate,jdbcType=DATE},
      traveldoc_issue_country = #{traveldocIssueCountry,jdbcType=VARCHAR},
      traveldoc_issue_place = #{traveldocIssuePlace,jdbcType=VARCHAR},
      traveldoc_birth_place = #{traveldocBirthPlace,jdbcType=VARCHAR},
      traveldoc_image_url = #{traveldocImageUrl,jdbcType=VARCHAR},
      traveldoc_cover_image_url = #{traveldocCoverImageUrl,jdbcType=VARCHAR},
      user_photo_image_url = #{userPhotoImageUrl,jdbcType=VARCHAR},
      deleted_flag = #{deletedFlag,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where suborder_id = #{suborderId,jdbcType=VARCHAR}
  </update>
</mapper>