<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.mybatis.mapper.TravelinfoMapper">
  <resultMap id="BaseResultMap" type="com.cookie.mybatis.model.Travelinfo">
    <id column="travel_info_id" jdbcType="VARCHAR" property="travelInfoId" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="carrier_code" jdbcType="VARCHAR" property="carrierCode" />
    <result column="flight_number" jdbcType="VARCHAR" property="flightNumber" />
    <result column="departure_airport_name" jdbcType="VARCHAR" property="departureAirportName" />
    <result column="departure_airport_code" jdbcType="VARCHAR" property="departureAirportCode" />
    <result column="arrival_airport_name" jdbcType="VARCHAR" property="arrivalAirportName" />
    <result column="arrival_airport_code" jdbcType="VARCHAR" property="arrivalAirportCode" />
    <result column="departure_date" jdbcType="DATE" property="departureDate" />
    <result column="arrival_date" jdbcType="DATE" property="arrivalDate" />
    <result column="flight_type" jdbcType="VARCHAR" property="flightType" />
    <result column="flight_image_url" jdbcType="VARCHAR" property="flightImageUrl" />
    <result column="deleted_flag" jdbcType="CHAR" property="deletedFlag" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    travel_info_id, order_id, carrier_code, flight_number, departure_airport_name, departure_airport_code, 
    arrival_airport_name, arrival_airport_code, departure_date, arrival_date, flight_type, 
    flight_image_url, deleted_flag, created_at, updated_at, deleted_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_travelinfo
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_travelinfo
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cookie.mybatis.model.Travelinfo">
    insert into oms_travelinfo (travel_info_id, order_id, carrier_code, 
      flight_number, departure_airport_name, departure_airport_code, 
      arrival_airport_name, arrival_airport_code, 
      departure_date, arrival_date, flight_type, 
      flight_image_url, deleted_flag, created_at, 
      updated_at, deleted_at)
    values (#{travelInfoId,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, #{carrierCode,jdbcType=VARCHAR}, 
      #{flightNumber,jdbcType=VARCHAR}, #{departureAirportName,jdbcType=VARCHAR}, #{departureAirportCode,jdbcType=VARCHAR}, 
      #{arrivalAirportName,jdbcType=VARCHAR}, #{arrivalAirportCode,jdbcType=VARCHAR}, 
      #{departureDate,jdbcType=DATE}, #{arrivalDate,jdbcType=DATE}, #{flightType,jdbcType=VARCHAR}, 
      #{flightImageUrl,jdbcType=VARCHAR}, #{deletedFlag,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cookie.mybatis.model.Travelinfo">
    insert into oms_travelinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="travelInfoId != null">
        travel_info_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="carrierCode != null">
        carrier_code,
      </if>
      <if test="flightNumber != null">
        flight_number,
      </if>
      <if test="departureAirportName != null">
        departure_airport_name,
      </if>
      <if test="departureAirportCode != null">
        departure_airport_code,
      </if>
      <if test="arrivalAirportName != null">
        arrival_airport_name,
      </if>
      <if test="arrivalAirportCode != null">
        arrival_airport_code,
      </if>
      <if test="departureDate != null">
        departure_date,
      </if>
      <if test="arrivalDate != null">
        arrival_date,
      </if>
      <if test="flightType != null">
        flight_type,
      </if>
      <if test="flightImageUrl != null">
        flight_image_url,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="travelInfoId != null">
        #{travelInfoId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="carrierCode != null">
        #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="flightNumber != null">
        #{flightNumber,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportName != null">
        #{departureAirportName,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportCode != null">
        #{departureAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportName != null">
        #{arrivalAirportName,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportCode != null">
        #{arrivalAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="departureDate != null">
        #{departureDate,jdbcType=DATE},
      </if>
      <if test="arrivalDate != null">
        #{arrivalDate,jdbcType=DATE},
      </if>
      <if test="flightType != null">
        #{flightType,jdbcType=VARCHAR},
      </if>
      <if test="flightImageUrl != null">
        #{flightImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cookie.mybatis.model.Travelinfo">
    update oms_travelinfo
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="carrierCode != null">
        carrier_code = #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="flightNumber != null">
        flight_number = #{flightNumber,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportName != null">
        departure_airport_name = #{departureAirportName,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportCode != null">
        departure_airport_code = #{departureAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportName != null">
        arrival_airport_name = #{arrivalAirportName,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportCode != null">
        arrival_airport_code = #{arrivalAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="departureDate != null">
        departure_date = #{departureDate,jdbcType=DATE},
      </if>
      <if test="arrivalDate != null">
        arrival_date = #{arrivalDate,jdbcType=DATE},
      </if>
      <if test="flightType != null">
        flight_type = #{flightType,jdbcType=VARCHAR},
      </if>
      <if test="flightImageUrl != null">
        flight_image_url = #{flightImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cookie.mybatis.model.Travelinfo">
    update oms_travelinfo
    set order_id = #{orderId,jdbcType=CHAR},
      carrier_code = #{carrierCode,jdbcType=VARCHAR},
      flight_number = #{flightNumber,jdbcType=VARCHAR},
      departure_airport_name = #{departureAirportName,jdbcType=VARCHAR},
      departure_airport_code = #{departureAirportCode,jdbcType=VARCHAR},
      arrival_airport_name = #{arrivalAirportName,jdbcType=VARCHAR},
      arrival_airport_code = #{arrivalAirportCode,jdbcType=VARCHAR},
      departure_date = #{departureDate,jdbcType=DATE},
      arrival_date = #{arrivalDate,jdbcType=DATE},
      flight_type = #{flightType,jdbcType=VARCHAR},
      flight_image_url = #{flightImageUrl,jdbcType=VARCHAR},
      deleted_flag = #{deletedFlag,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cookie.mybatis.model.Travelinfo">
    <id column="travel_info_id" jdbcType="VARCHAR" property="travelInfoId" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="carrier_code" jdbcType="VARCHAR" property="carrierCode" />
    <result column="flight_number" jdbcType="VARCHAR" property="flightNumber" />
    <result column="departure_airport_name" jdbcType="VARCHAR" property="departureAirportName" />
    <result column="departure_airport_code" jdbcType="VARCHAR" property="departureAirportCode" />
    <result column="arrival_airport_name" jdbcType="VARCHAR" property="arrivalAirportName" />
    <result column="arrival_airport_code" jdbcType="VARCHAR" property="arrivalAirportCode" />
    <result column="departure_date" jdbcType="DATE" property="departureDate" />
    <result column="arrival_date" jdbcType="DATE" property="arrivalDate" />
    <result column="flight_type" jdbcType="VARCHAR" property="flightType" />
    <result column="flight_image_url" jdbcType="VARCHAR" property="flightImageUrl" />
    <result column="deleted_flag" jdbcType="CHAR" property="deletedFlag" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    travel_info_id, order_id, carrier_code, flight_number, departure_airport_name, departure_airport_code, 
    arrival_airport_name, arrival_airport_code, departure_date, arrival_date, flight_type, 
    flight_image_url, deleted_flag, created_at, updated_at, deleted_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_travelinfo
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_travelinfo
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cookie.mybatis.model.Travelinfo">
    insert into oms_travelinfo (travel_info_id, order_id, carrier_code, 
      flight_number, departure_airport_name, departure_airport_code, 
      arrival_airport_name, arrival_airport_code, 
      departure_date, arrival_date, flight_type, 
      flight_image_url, deleted_flag, created_at, 
      updated_at, deleted_at)
    values (#{travelInfoId,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, #{carrierCode,jdbcType=VARCHAR}, 
      #{flightNumber,jdbcType=VARCHAR}, #{departureAirportName,jdbcType=VARCHAR}, #{departureAirportCode,jdbcType=VARCHAR}, 
      #{arrivalAirportName,jdbcType=VARCHAR}, #{arrivalAirportCode,jdbcType=VARCHAR}, 
      #{departureDate,jdbcType=DATE}, #{arrivalDate,jdbcType=DATE}, #{flightType,jdbcType=VARCHAR}, 
      #{flightImageUrl,jdbcType=VARCHAR}, #{deletedFlag,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cookie.mybatis.model.Travelinfo">
    insert into oms_travelinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="travelInfoId != null">
        travel_info_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="carrierCode != null">
        carrier_code,
      </if>
      <if test="flightNumber != null">
        flight_number,
      </if>
      <if test="departureAirportName != null">
        departure_airport_name,
      </if>
      <if test="departureAirportCode != null">
        departure_airport_code,
      </if>
      <if test="arrivalAirportName != null">
        arrival_airport_name,
      </if>
      <if test="arrivalAirportCode != null">
        arrival_airport_code,
      </if>
      <if test="departureDate != null">
        departure_date,
      </if>
      <if test="arrivalDate != null">
        arrival_date,
      </if>
      <if test="flightType != null">
        flight_type,
      </if>
      <if test="flightImageUrl != null">
        flight_image_url,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="travelInfoId != null">
        #{travelInfoId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="carrierCode != null">
        #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="flightNumber != null">
        #{flightNumber,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportName != null">
        #{departureAirportName,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportCode != null">
        #{departureAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportName != null">
        #{arrivalAirportName,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportCode != null">
        #{arrivalAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="departureDate != null">
        #{departureDate,jdbcType=DATE},
      </if>
      <if test="arrivalDate != null">
        #{arrivalDate,jdbcType=DATE},
      </if>
      <if test="flightType != null">
        #{flightType,jdbcType=VARCHAR},
      </if>
      <if test="flightImageUrl != null">
        #{flightImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cookie.mybatis.model.Travelinfo">
    update oms_travelinfo
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="carrierCode != null">
        carrier_code = #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="flightNumber != null">
        flight_number = #{flightNumber,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportName != null">
        departure_airport_name = #{departureAirportName,jdbcType=VARCHAR},
      </if>
      <if test="departureAirportCode != null">
        departure_airport_code = #{departureAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportName != null">
        arrival_airport_name = #{arrivalAirportName,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirportCode != null">
        arrival_airport_code = #{arrivalAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="departureDate != null">
        departure_date = #{departureDate,jdbcType=DATE},
      </if>
      <if test="arrivalDate != null">
        arrival_date = #{arrivalDate,jdbcType=DATE},
      </if>
      <if test="flightType != null">
        flight_type = #{flightType,jdbcType=VARCHAR},
      </if>
      <if test="flightImageUrl != null">
        flight_image_url = #{flightImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cookie.mybatis.model.Travelinfo">
    update oms_travelinfo
    set order_id = #{orderId,jdbcType=CHAR},
      carrier_code = #{carrierCode,jdbcType=VARCHAR},
      flight_number = #{flightNumber,jdbcType=VARCHAR},
      departure_airport_name = #{departureAirportName,jdbcType=VARCHAR},
      departure_airport_code = #{departureAirportCode,jdbcType=VARCHAR},
      arrival_airport_name = #{arrivalAirportName,jdbcType=VARCHAR},
      arrival_airport_code = #{arrivalAirportCode,jdbcType=VARCHAR},
      departure_date = #{departureDate,jdbcType=DATE},
      arrival_date = #{arrivalDate,jdbcType=DATE},
      flight_type = #{flightType,jdbcType=VARCHAR},
      flight_image_url = #{flightImageUrl,jdbcType=VARCHAR},
      deleted_flag = #{deletedFlag,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where travel_info_id = #{travelInfoId,jdbcType=VARCHAR}
  </update>
</mapper>